// COLORS
$color-primary:	#4FACFE;
$color-primary-light: #71C7FF;
$color-primary-dark: #0078C5;

$color-gray-dark: #777;
$color-white: #fff;
$color-black: #000;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;